{% extends "base.html" %}

{% load wagtailcore_tags static wagtailimages_tags %}

{% block content %}
    <div class="row">
        <div class="col">
        <h2>{{ page.title }}</h2><br>
        {{ page.votinghelp | richtext }}
        </div>
    </div>
    <div class="row">
    <div class="col-md-9 gallery" >
            
            {% for field in entries %}
            <div class="card mb-3" id="card_{{field.id}}">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        {% image field fill-200x200 as thumb %}
    
                        <a href="{{field.link}}" data-lightbox="{{page.id}}"
                            data-title="{{field.title}}">
                            <img {{ thumb.attrs }} class="img-fluid" />
                        </a>
    
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">
                                <span class="badge badge-primary badge-pill" id="{{ field.id }}_score">
                                0
                                </span>
                                <span id="title_{{field.id}}">{{ field.title }}</span>
                            </h5>
                            <p class="card-text">
                                {% for p in points %}
                                <button id="btn_{{field.id}}_{{p}}" type="button" class="btn btn-outline-secondary mt-1" onclick="voter.vote(this);">{{p}}</button>
                                {% endfor %}
                                <br><br>
                                <input type="text" placeholder="comments" class="form-control" value="{{field.comments}}" id="comments_{{field.id}}" >
                            </p>
    
                            
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
    </div>
    <div class="col-md-3">
        <div class="sticky-top">
        <ul id="top-list" class="list-group">
        </ul>
        </div>
    </div>
    </div>
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'lightbox/css/lightbox.css' %}">
    <style>
        button.disabled {
            cursor: not-allowed !important ;
        }
    </style>
{% endblock %}

{% block extra_js %}
    <script src="{% static 'lightbox/js/lightbox.js' %}"></script>
    
    <script>
    $(function() {
        $.ajaxSetup({
            headers: { "X-CSRFToken": '{{csrf_token}}' }
        });
        voter.init("{{ page.allow_same_points }}"=="True"?true:false);

        lightbox.option({
            'resizeDuration': 200,
        })
    });
    
    var voter = {
        init(allowSame) {
            this.allowSame = allowSame;
            this.loadPoints();
            this.currentPoints={};
            this.data = [];
            this.timeouts = {};
            this.createFormListeners();
        },
        createFormListeners(){
            var me = this;
            $('input[type=text]').on('input propertychange change', function(event){
                if (event.target.id in me.timeouts)
                    clearTimeout(me.timeouts[event.target.id])
                me.timeouts[event.target.id] = setTimeout(function(){
                    me.saveComment(event.target.id);
                }, 1000);
            });
        },
        saveComment(target_div_id){
            var id = target_div_id.split('_')[1];
            var comment_text = $("#"+target_div_id).val();
            $.post("v/"+id+"/comment/", {'comments': comment_text}, function(data){
                console.log(data);
            });
            //console.log(target_div_id, "Save text for ", id, ": ", comment_text);
        },
        loadPoints() {
            var me = this;
            $.getJSON('v/', function(data){
                data.forEach(vote => {
                    me.setPointsFor(vote.id, vote.points);
                    me.currentPoints[vote.id] = vote.points;
                    $("#comments_"+vote.id).val(vote.comments);
                    //me.data.push({'points': vote.points, 'id': vote.id, 'name': vote.name});
                });
                me.create_list();
            });
        },
    
        enable(point, enable) {
            if (undefined == point)
                return;
            var selector = "btn_\\d+_" +point+"$";
            var me = this;
            var re = new RegExp(selector);
            $("button").filter(function(){return this.id.match(re);}).each(function(i,e){
                if (!me.allowSame){
                    if (enable){
                        $(e).removeAttr("disabled");
                    } else {
                        $(e).attr("disabled", "disabled");
                    }
                }
            });
        },
        toggle(id, points, current){
            if(undefined == points) return;
            var trg = $("#btn_"+id+"_"+points);
            trg.toggleClass("btn-outline-secondary", !current);
            trg.toggleClass("btn-primary", current);
            trg.toggleClass("disabled", current);
        },
        setPointsFor(id, points) {
            points = parseInt(points);
            $("#"+id+"_score").text(points+"");
            this.toggle(id, points, true);
            if(points>0){
                this.enable(points, false);
            }
            this.toggle(id,this.currentPoints[id], false);
            this.enable(this.currentPoints[id], true);
            
            this.currentPoints[id] = points;

            var found = false;
            for (x in this.data) {
                if (this.data[x]['id'] == id) {
                    this.data[x]['points']=points;
                    found = true;
                    break;
                } 
            }
            if (!found){
                this.data.push({'id': id, 'points': points, 'name': $("#title_"+id).text()});
            }
            

        },
        vote(me){
            var x = me.id.split('_');
            var v = this;
            // TODO show spinner and close it
            $.post("v/"+x[1]+"/", {'points': x[2]}, function(data){
                v.setPointsFor(x[1], x[2]);
                v.create_list();
            });
        },

        create_list(){
            // sort list
            this.data.sort((a, b) => parseInt(b.points) - parseInt(a.points));

            // Clear list, we'll always make a new one
            var list = document.getElementById("top-list");
            list.innerHTML = "";
            for (e in this.data){
                if (0 == this.data[e].points) continue;
                var li = document.createElement("li");
                li.className = "list-group-item d-flex justify-content-between align-items-center";
                var link = document.createElement("a");
                link.href = "#card_"+this.data[e].id;
                link.innerHTML = this.data[e].name;
                li.appendChild(link);

                var spa = document.createElement("span");
                spa.className = "badge badge-primary badge-pill";
                spa.innerHTML = this.data[e].points;

                li.appendChild(spa);
                list.appendChild(li);
            }

        },

    };
    
    </script>
{% endblock %}

